@import './assets/fonts.css';

:root {
  --dark-grey: #333333;
  --light-grey: #808080;
  --very-light-grey: #e2e2e2;
  --yellow: #FFB612;
  --red: #dc0a17;
  --green: #2FC022;
}

* {
  box-sizing: border-box ;
  padding: 0;
  margin: 0;
  font-family: 'Gotham';
}

body {
  height: 100%;
  width: 100%;
}